@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

.banner-howto .more-btn, .slide__bullets, .popular-menu__slide__items li .popular-menu__slide__items__tooltip::after, .toppings__list .toppings__list__item .topping-category__list__info--hover {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popular-menu__slide__items, .slide-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sub-header hgroup, .popular-menu__slide__items li .popular-menu__slide__items__more-btn, .popular-menu__slide__items li .popular-menu__slide__items__tooltip, .banner-howto__info, .insta-thumbnails__item .item__info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popular-menu__slide__items li div, .popular-menu__slide__items li .popular-menu__slide__items__more-btn, .insta-thumbnails__item .item__info, .food-category, .topping-category, .toppings__list .toppings__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  /*브라우저 사이즈767px이하일때*/
}

@media (min-width: 768px) and (max-width: 1023px) {
  /*브라우저 사이즈768px이상, 1023px 이하일때*/
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Black";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

/* font-family: 'Roboto', sans-serif; */
html {
  color: #fff;
  font-family: "Pretendard-Regular", sans-serif;
}

@media screen and (max-width: 1279px) {
  html {
    font-size: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 70%;
  }
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .page-container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  .page-container .popular-menu__slide__items {
    font-size: 80%;
  }
  .page-container .popular-menu__slide__items div {
    width: 80%;
  }
  .page-container .popular-menu__slide__items div img {
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
  .page-container .popular-menu__slide__items {
    font-size: 70%;
  }
  .page-container .popular-menu__slide__items div {
    width: 70%;
  }
  .page-container .popular-menu__slide__items div img {
    width: 75%;
    height: 75%;
  }
}

.wrap--bg {
  position: relative;
  padding: 7.5rem 0;
  background-size: 10%;
  background-position: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f2f2f2' fill-opacity='0.97'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap--bg {
    padding-top: 10rem;
  }
}

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.sub-main {
  background: #f2f2f2;
}

.sub-main .row-container {
  margin: 0 auto;
  width: 1200px;
  padding: 2em 0;
}

.slide-top {
  -webkit-animation: slide-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
  }
  100% {
    -webkit-transform: translate(-50%, -12em);
            transform: translate(-50%, -12em);
  }
}

@keyframes slide-top {
  0% {
  }
  100% {
    -webkit-transform: translate(-50%, -12em);
            transform: translate(-50%, -12em);
  }
}

.slide-top-btn {
  -webkit-animation: slide-top-btn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: slide-top-btn 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-11-11 1:31:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top-btn {
  0% {
    -webkit-transform: translate(-50%, -100px);
    transform: translate(-50%, -100px);
    display: none;
  }
  100% {
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    display: block;
  }
}

@keyframes slide-top-btn {
  0% {
    -webkit-transform: translate(-50%, -100px);
    transform: translate(-50%, -100px);
    display: none;
  }
  100% {
    -webkit-transform: translate(-50%, -70%);
    transform: translate(-50%, -70%);
    display: block;
  }
}

.notice .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  color: #fff;
  font-style: italic;
  font-size: calc(1em * 1);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 2em;
  right: 3em;
}

.notice .more-btn .material-icons {
  margin-left: calc(3px * 1);
  font-size: calc(24px * 1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.notice .more-btn:hover .material-icons {
  color: #fff;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.banner-howto .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  color: #fff;
  font-style: italic;
  font-size: calc(1em * 2);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 1em;
}

.banner-howto .more-btn .material-icons {
  margin-left: calc(3px * 2);
  font-size: calc(24px * 2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner-howto .more-btn:hover .material-icons {
  color: #fff;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.insta-thumbnails .more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  background: transparent;
  color: #fff;
  font-style: italic;
  font-size: calc(1em * 2);
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #00584c;
}

.insta-thumbnails .more-btn .material-icons {
  margin-left: calc(3px * 2);
  font-size: calc(24px * 2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.insta-thumbnails .more-btn:hover .material-icons {
  color: #00584c;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

/* 헤더 */
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  margin: 1em 0;
}

.sub-header {
  position: relative;
}

.sub-header hgroup {
  text-align: center;
}

.sub-header hgroup .sub-header__title {
  font-size: 3.75rem;
  font-weight: 600;
}

.sub-header hgroup .sub-header__subtitle {
  margin-top: 1.5em;
  font-size: 1.2rem;
}

/* 내비 */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #00584c;
  width: 100vw;
}

nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav__menu > li {
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav .nav__menu > li {
    font-size: 1.5rem;
  }
}

nav .nav__menu > li:not(:first-child) {
  margin-left: 2em;
}

nav .nav__menu > li > a {
  font-weight: 600;
  padding: 1.5em;
}

nav .nav__menu > li:hover {
  background-color: #002f29;
}

nav .nav__menu > li:hover .nav__submenu {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav .nav__submenu {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 9;
  background-color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  overflow: hidden;
}

nav .nav__submenu li a {
  padding: 1.5em 1em;
  letter-spacing: 0.05rem;
  color: #333;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}

nav .nav__submenu li:hover a {
  background-color: #00584c;
  color: #fff;
}

/* 메인슬라이드 */
.slide-container {
  position: relative;
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slide-container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .slide-container {
    width: 100%;
  }
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.slide {
  margin-left: 0;
  width: 300%;
}

.slide li {
  float: left;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slide img {
    width: 150vw;
  }
}

@media screen and (max-width: 767px) {
  .slide img {
    width: 150vw;
  }
}

.slide__bullets {
  bottom: 1em;
}

.slide__bullets li {
  float: left;
  margin: 0 10px;
}

.slide__bullets .bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  color: transparent;
  z-index: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slide__bullets .active {
  width: 45px;
  border-radius: 20px;
}

/* 인기메뉴 */
.popular-menu {
  color: #333;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popular-menu {
    margin-top: 7rem;
  }
}

.popular-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 75rem;
  padding: 2rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popular-menu__info {
    width: 100vw;
    font-size: 120%;
  }
}

.popular-menu__title {
  color: #00584c;
  font-family: "Pretendard-Black";
  font-size: 3rem;
  letter-spacing: 0.05rem;
}

.popular-menu__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-menu__tabs .on {
  color: #00584c;
}

.popular-menu__tab {
  position: relative;
  font-weight: 600;
}

.popular-menu__tab:not(:first-child) {
  margin-left: 1.5em;
}

.popular-menu__tab:not(:first-child)::before {
  display: block;
  content: "";
  position: absolute;
  left: calc(-0.75 * 1em);
  width: calc(2 * 1px);
  height: 100%;
  background-color: #00584c;
}

.popular-menu__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 22.813rem;
  background-color: #f2f2f2;
}

.popular-menu__slide-container {
  position: relative;
  width: 75em;
  height: 100%;
  overflow: hidden;
}

.popular-menu__slide__items {
  width: 200%;
  left: 2em;
}

@media screen and (max-width: 1279px) {
  .popular-menu__slide__items {
    padding: 0 2em;
  }
}

.popular-menu__slide__items li {
  position: relative;
  float: left;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .popular-menu__slide__items li {
    font-size: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popular-menu__slide__items li {
    font-size: 50%;
  }
}

.popular-menu__slide__items li:not(:first-child) {
  margin-left: 11.5em;
}

.popular-menu__slide__items li div {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popular-menu__slide__items li .popular-menu__slide__items__info {
  display: block;
  text-align: center;
  line-height: 3.5;
  font-size: 1.25rem;
  font-weight: 600;
}

.popular-menu__slide__items li .popular-menu__slide__items__more-btn {
  -webkit-transform: translate(-50%, 250%);
          transform: translate(-50%, 250%);
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background-color: #00584c;
  border: none;
  cursor: pointer;
}

.popular-menu__slide__items li .material-icons {
  font-size: 36px;
  color: #fff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .popular-menu__slide__items li .material-icons {
    font-size: 24px;
  }
}

.popular-menu__slide__items li:hover div img {
  opacity: 0.5;
}

.popular-menu__slide__items li .popular-menu__slide__items__tooltip {
  position: absolute;
  width: 6.25rem;
  padding: 0.6rem;
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  background: black;
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  top: 25%;
  z-index: 9;
  visibility: hidden;
}

@media screen and (max-width: 1279px) {
  .popular-menu__slide__items li .popular-menu__slide__items__tooltip {
    top: 20%;
  }
}

.popular-menu__slide__items li .popular-menu__slide__items__tooltip::after {
  content: "";
  top: 90%;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.slide-btn {
  color: #00584c;
  border: none;
  background: transparent;
  padding: 1em;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  z-index: 99;
}

.slide-btn:hover {
  opacity: 1;
  background: #00584c;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .slide-btn {
    background-color: #fff;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: 100%;
  }
}

.prev-btn {
  left: 15rem;
}

@media screen and (max-width: 1279px) {
  .prev-btn {
    left: 35%;
  }
}

.next-btn {
  right: 15rem;
}

@media screen and (max-width: 1279px) {
  .next-btn {
    right: 35%;
  }
}

.slide-btn .material-icons {
  font-size: 48px;
}

.banner-box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .banner-box {
    width: 100vw;
    padding: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .banner-box {
    width: 100vw;
    padding: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* 새소식 */
.notice {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00584c;
  width: 60%;
  height: 21.25rem;
  border-radius: 1.875rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .notice {
    width: 60%;
    margin-right: 2%;
  }
}

@media screen and (max-width: 767px) {
  .notice {
    width: 100%;
    margin-bottom: 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 90%;
  }
}

.notice .notice__title {
  width: 45%;
  font-size: 3.125rem;
  font-family: "Pretendard-Black";
  letter-spacing: 0.05em;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .notice .notice__title {
    margin-bottom: 0.5em;
  }
}

.notice .notice__links {
  position: relative;
  width: 55%;
  padding-left: 3em;
  vertical-align: middle;
  list-style-type: square;
}

.notice .notice__links::before {
  display: block;
  content: "";
  position: absolute;
  left: calc(-0.75 * 1em);
  width: calc(1 * 1px);
  height: 100%;
  background-color: #fff;
}

.notice .notice__links li {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  list-style-type: "□  ";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 1279px) {
  .notice .notice__links li {
    font-size: 120%;
  }
}

.notice .notice__links li:not(:first-child) {
  margin-top: 1.6em;
}

.notice .notice__links li:hover {
  list-style-type: "■  ";
}

.notice .notice__links li a::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.notice .notice__links li a:hover::after {
  width: 100%;
}

.notice .notice__typography {
  position: absolute;
  z-index: 0;
  left: 5px;
  top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 0.8;
  color: #705f90;
  font-size: 3.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (max-width: 767px) {
  .notice .notice__typography {
    font-size: 2.8em;
  }
}

.banner-howto {
  position: relative;
  width: 38%;
  height: 21.25rem;
  border-radius: 0 1.875rem;
  background: no-repeat center/cover url("../img/howto_banner.jpg");
}

@media screen and (max-width: 767px) {
  .banner-howto {
    width: 100%;
  }
}

.banner-howto__info {
  width: 100%;
  text-align: center;
}

.banner-howto__info .banner-howto__title {
  font-weight: 700;
  font-size: 3.75rem;
  font-style: italic;
  margin-bottom: 0.3em;
}

.banner-howto__info .banner-howto__subtitle {
  font-size: 1.5rem;
}

.banner-membership {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2.375rem;
}

@media screen and (max-width: 1279px) {
  .banner-membership {
    width: 100%;
    margin-top: 4rem;
  }
}

.banner-membership img {
  width: 100%;
}

.insta-thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  margin: 10rem auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .insta-thumbnails {
    width: 100vw;
    padding: 2em;
  }
}

.insta-thumbnails__list {
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1279px) {
  .insta-thumbnails__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.insta-thumbnails__item {
  position: relative;
  width: 11.25rem;
  height: 11.25rem;
  margin-bottom: 1.25em;
  color: #fff;
  background: #00584c;
}

@media screen and (max-width: 1279px) {
  .insta-thumbnails__item {
    width: 16%;
    margin-bottom: 1%;
  }
}

.insta-thumbnails__item:first-child {
  background: no-repeat center/cover url(./../img/thumbnail_01.jpg);
}

.insta-thumbnails__item:nth-child(2) {
  background: no-repeat center/cover url(./../img/thumbnail_02.jpg);
}

.insta-thumbnails__item:nth-child(3) {
  background: no-repeat center/cover url(./../img/thumbnail_03.jpg);
}

.insta-thumbnails__item:nth-child(4) {
  background: no-repeat center/cover url(./../img/thumbnail_04.jpg);
}

.insta-thumbnails__item:nth-child(5) {
  background: no-repeat center/cover url(./../img/thumbnail_05.jpg);
}

.insta-thumbnails__item:nth-child(6) {
  background: no-repeat center/cover url(./../img/thumbnail_06.jpg);
}

.insta-thumbnails__item:nth-child(7) {
  background: no-repeat center/cover url(./../img/thumbnail_07.jpg);
}

.insta-thumbnails__item:nth-child(8) {
  background: no-repeat center/cover url(./../img/thumbnail_08.jpg);
}

.insta-thumbnails__item:nth-child(9) {
  background: no-repeat center/cover url(./../img/thumbnail_09.jpg);
}

.insta-thumbnails__item:nth-child(10) {
  background: no-repeat center/cover url(./../img/thumbnail_10.jpg);
}

.insta-thumbnails__item:nth-child(11) {
  background: no-repeat center/cover url(./../img/thumbnail_11.jpg);
}

.insta-thumbnails__item:nth-child(12) {
  background: no-repeat center/cover url(./../img/thumbnail_12.jpg);
}

.insta-thumbnails__item .item__info {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(51, 51, 51, 0.7);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.insta-thumbnails__item .item__info .material-icons:nth-child(2) {
  margin-left: 1rem;
}

.insta-thumbnails__item .item__info:hover {
  opacity: 1;
}

footer {
  background-color: #00584c;
  width: 100%;
  padding: 2em;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer__wrap {
    width: 100%;
  }
}

.footer__logo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__links {
  padding-left: 1em;
}

.footer__links .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links .footer__menu li {
  padding: 1em 0;
}

.footer__links .footer__menu li:not(:first-child) {
  margin-left: 1em;
}

.footer__links .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links .footer__info li {
  padding: 1em 0;
  margin-right: 1em;
}

.footer__links .footer__address {
  font-size: 0.85rem;
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.footer__links .footer__address li {
  display: inline-block;
  position: relative;
  margin-bottom: 0.5em;
}

.footer__links .footer__address li:nth-child(even) {
  margin-left: 1em;
}

.footer__links .footer__address li:nth-child(even)::before {
  display: block;
  content: "";
  position: absolute;
  left: calc(-0.5 * 1em);
  width: calc(2 * 1px);
  height: 100%;
  background-color: #fff;
}

.footer__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__sns li:not(:first-child) {
  margin-left: 2em;
}

.food-category {
  width: 100vw;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.food-category .food-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-category .food-category__list li {
  color: gray;
  font-weight: bold;
  padding: 1em;
}

.food-category .food-category__list li:last-child {
  margin-left: 1.5em;
}

.food-category .food-category__list .on {
  color: #00584c;
}

.topping-category {
  position: relative;
  background: #00584c;
  letter-spacing: 0.05rem;
  padding: 0.5em 1.5em;
}

.topping-category .material-icons {
  font-size: 24px;
}

.topping-category:hover .topping-category__list {
  display: block;
}

.topping-category__list {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  background: #00584c;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99;
}

.topping-category__list li {
  padding: 1em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.topping-category__list li:hover {
  background: #003f36;
}

.toppings__container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 12em;
}

.toppings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.toppings__list .toppings__list__item {
  position: relative;
  width: 32%;
  padding: 1.5em;
  margin-bottom: 2em;
  background: #fff;
  -webkit-box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.toppings__list .toppings__list__item .topping-category__list__info {
  text-align: center;
  margin-top: 1em;
}

.toppings__list .toppings__list__item .topping-category__list__info h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.toppings__list .toppings__list__item .topping-category__list__info h5 {
  margin-top: 0.5rem;
  color: #00584c;
}

.toppings__list .toppings__list__item .topping-category__list__info--hover {
  position: absolute;
  z-index: 5;
}

.toppings__list .toppings__list__item .topping-category__list__info--hover h3,
.toppings__list .toppings__list__item .topping-category__list__info--hover h5 {
  color: #fff;
}

.toppings__list .toppings__list__item:hover figure::after,
.toppings__list .toppings__list__item:hover .topping-category__list__item__info {
  display: block;
}

.toppings__list .toppings__list__item figure::after {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00584c;
  z-index: 2;
}

.topping-category__list__item__info {
  margin-top: 1em;
  line-height: 1.3;
  display: none;
}
