:root {
  --green: #00584c;
  --black: #333;
}
html {
  color: white;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
/* 헤더 */
.main-header {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
}
.header__logo {
  margin: 1em 0;
}
/* 내비 */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  background-color: var(--green);
  width: 100vw;
}
.nav__menu {
  display: flex;
}
.nav__menu > li > a {
  padding: 1.5em;
}
/* 메인슬라이드 */
.slide-container {
  position: relative;
  width: 1920px;
  height: 480px;
  overflow: hidden;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.slide {
  position: absolute;
  left: -100%;
  width: 300%;
}
.slide > li {
  float: left;
}
.slide__bullets {
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
}
.slide__bullets > li {
  float: left;
  margin: 0 5px;
}
.bullet {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  color: transparent;
  z-index: 5;
}
/* 인기메뉴 */
.popular-menu {
  color: var(--black);
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
}
.popular-menu__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 75rem;
  padding: 2rem;
}
.popular-menu__title {
  color: var(--green);
  font-size: 3rem;
}
.popular-menu__tabs {
  display: flex;
}
.popular-menu__tab:not(:first-child) {
  margin-left: 0.5em;
}
.popular-menu__slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 22.813rem;
  background-color: #f2f2f2;
}
.popular-menu__slide-container {
  position: relative;
  width: 75rem;
  height: 100%;
  overflow: hidden;
}
.popular-menu__slide__items {
  width: 200%;
  position: absolute;
  left: 2em;
  top: 50%;
  transform: translateY(-50%);
}
.popular-menu__slide__items > li {
  float: left;
}
.popular-menu__slide__items > li:not(:first-child) {
  margin-left: 11.5rem;
}
.popular-menu__slide__items > li figcaption {
  text-align: center;
}
.slide-btn {
  color: var(--green);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}
.prev-btn {
  left: 15rem;
}
.next-btn {
  right: 15rem;
}
.banner-box {
  margin: 7.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 75rem;
  flex-wrap: wrap;
}
.notice {
  background-color: var(--green);
  width: 42.5rem;
  height: 21.25rem;
  border-radius: 1.875rem 0;
}
.banner-howto {
  width: 28.75rem;
  height: 21.25rem;
  border-radius: 0 1.875rem;
  background: no-repeat center/cover url("../img/howto_banner.jpg");
}
.banner-membership {
  width: 100%;
  justify-self: center;
  margin-top: 2.375rem;
}
.banner-membership img {
  width: 100%;
}
.insta-thumbnails {
  display: flex;
  justify-content: center;
  width: 75rem;
  margin: 7.5rem auto;
  flex-wrap: wrap;
}
.insta-thumbnails__list {
  padding: 3rem 2.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.insta-thumbnails__item {
  width: 11.25rem;
  height: 11.25rem;
  margin-bottom: 0.5em;
  color: transparent;
  background-color: var(--green);
}
.row-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
footer {
  background-color: var(--green);
  width: 100%;
}
