$color--green: #00584c;
$color--purple: #705f90;
$color--white: #fff;
$color--gray: #f2f2f2;
$color--black: #333;
$imgpath: "./../img/";
@mixin marker-left($col, $left, $width) {
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: calc(#{$left} * 1em);
    width: calc(#{$width} * 1px);
    height: 100%;
    background-color: $col;
  }
}
@mixin more-btn($num) {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  color: $color--white;
  font-style: italic;
  font-size: calc(1em * #{$num});
  font-weight: bold;
  cursor: pointer;
  .material-icons {
    margin-left: calc(3px * #{$num});
    font-size: calc(24px * #{$num});
  }
}
@mixin background($filename) {
  background: no-repeat center/cover url(#{$imgpath}#{$filename});
}
%rowCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
%colCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
%center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
