$color--green: #00584c;
$color--purple: #705f90;
$color--white: #fff;
$color--gray: #f2f2f2;
$color--black: #333;
$imgpath: "./../img/";

@mixin marker-left($col, $left, $width) {
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: calc(#{$left} * 1em);
    width: calc(#{$width} * 1px);
    height: 100%;
    background-color: $col;
  }
}
@mixin more-btn($num) {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  color: $color--white;
  font-style: italic;
  font-size: calc(1em * #{$num});
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  .material-icons {
    margin-left: calc(3px * #{$num});
    font-size: calc(24px * #{$num});
    transition: 0.3s;
  }
}
@mixin more-btn--hover($col) {
  &:hover {
    .material-icons {
      color: $col;
      transform: translateX(20%);
    }
  }
}
@mixin background($filename) {
  background: no-repeat center/cover url(#{$imgpath}#{$filename});
}
%rowCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
%colCenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
%center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
%centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 미디어쿼리
@mixin mobile-sm {
  @media screen and (max-width: 479px) {
    @content;
  }
}
@mixin mobile {
  @media (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@include mobile {
  /*브라우저 사이즈767px이하일때*/
}
@include tablet {
  /*브라우저 사이즈768px이상, 1023px 이하일때*/
}
@include laptop {
}

//툴팁 미디어쿼리
@mixin tooltip-mobile {
  background: transparent;
  color: $color--black;
  top: 95%;
  box-shadow: transparent 1px 1px 2px 0px;
  visibility: visible;
  font-size: 1rem;
}
