.banner-box {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  flex-wrap: wrap;
}

/* 새소식 */
.notice {
  position: relative;
  display: flex;
  background-color: $color--green;
  width: 42.5rem;
  height: 21.25rem;
  border-radius: 1.875rem 0;
  align-items: center;
  overflow: hidden;
  .notice__title {
    width: 45%;
    font-size: 50px;
    font-family: "Pretendard-Black";
    letter-spacing: 0.05em;
    text-align: center;
  }
  .notice__links {
    position: relative;
    width: 55%;
    padding-left: 3em;
    vertical-align: middle;
    list-style-type: square;
    @include marker-left($color--white, -0.75, 1);
    li {
      position: relative;
      width: max-content;
      list-style-type: "□";
      transition: 0.2s;
      &:not(:first-child) {
        margin-top: 1.6em;
      }
      &:hover {
        list-style-type: "■";
      }
      a {
        &::after {
          position: absolute;
          display: block;
          content: "";
          bottom: 1px;
          left: 0;
          width: 0;
          height: 1px;
          background-color: $color--white;
          transition: 0.2s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .notice__typography {
    position: absolute;
    z-index: 0;
    left: 5px;
    top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    line-height: 0.8;
    color: $color--purple;
    font-size: 3.5em;
    user-select: none;
  }
}

.banner-howto {
  position: relative;
  width: 28.75rem;
  height: 21.25rem;
  border-radius: 0 1.875rem;
  background: no-repeat center/cover url("../img/howto_banner.jpg");
}
.banner-howto__info {
  width: 100%;
  @extend %center;
  text-align: center;
  .banner-howto__title {
    font-weight: 700;
    font-size: 3.75rem;
    font-style: italic;
    margin-bottom: 0.3em;
  }
  .banner-howto__subtitle {
    font-size: 1.5rem;
  }
}
.banner-membership {
  width: 100%;
  justify-self: center;
  margin-top: 2.375rem;
}
.banner-membership img {
  width: 100%;
}
