.insta-thumbnails {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 10rem auto;
  flex-wrap: wrap;
}
.insta-thumbnails__list {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.insta-thumbnails__item {
  position: relative;
  width: 11.25rem;
  height: 11.25rem;
  margin-bottom: 1.25em;
  color: $color--white;
  background: $color--green;
  &:first-child {
    @include background("thumbnail_01.jpg");
  }
  &:nth-child(2) {
    @include background("thumbnail_02.jpg");
  }
  &:nth-child(3) {
    @include background("thumbnail_03.jpg");
  }
  &:nth-child(4) {
    @include background("thumbnail_04.jpg");
  }
  &:nth-child(5) {
    @include background("thumbnail_05.jpg");
  }
  &:nth-child(6) {
    @include background("thumbnail_06.jpg");
  }
  &:nth-child(7) {
    @include background("thumbnail_07.jpg");
  }
  &:nth-child(8) {
    @include background("thumbnail_08.jpg");
  }
  &:nth-child(9) {
    @include background("thumbnail_09.jpg");
  }
  &:nth-child(10) {
    @include background("thumbnail_10.jpg");
  }
  &:nth-child(11) {
    @include background("thumbnail_11.jpg");
  }
  &:nth-child(12) {
    @include background("thumbnail_12.jpg");
  }
  .item__info {
    position: absolute;
    @extend %center;
    width: 100%;
    height: 100%;
    @extend %centerflex;
    z-index: 5;
    background-color: rgba($color--white, $alpha: 0.15);

    .material-icons:nth-child(2) {
      margin-left: 1rem;
    }
    transition: 0.3s;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}
