/* 인기메뉴 */
.popular-menu {
  color: $color--black;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.popular-menu__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 1200px;
  padding: 2rem;
}
.popular-menu__title {
  color: $color--green;
  font-family: "Pretendard-Black";
  font-size: 3rem;
  letter-spacing: 0.05rem;
}
.popular-menu__tabs {
  display: flex;
  .on {
    color: $color--green;
  }
}
.popular-menu__tab {
  position: relative;
  font-weight: 600;
  &:not(:first-child) {
    margin-left: 1.5em;
    @include marker-left($color--green, -0.75, 2);
  }
}
.popular-menu__slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1200px;
  height: 22.813rem;
  background-color: $color--gray;
}
.popular-menu__slide-container {
  position: relative;
  width: 1200px;
  height: 100%;
  overflow: hidden;
}
.popular-menu__slide__items {
  width: 200%;
  @extend %colCenter;
  left: 2em;
  li {
    position: relative;
    float: left;
    overflow: hidden;
    &:not(:first-child) {
      margin-left: 11.5rem;
    }
    .popular-menu__slide__items__info {
      display: block;
      text-align: center;
      line-height: 3.5;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .popular-menu__slide__items__more-btn {
      @extend %centerflex;
      @extend %center;
      transform: translate(-50%, 250%);
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: $color--green;
      border: none;
      cursor: pointer;
    }
    .material-icons {
      font-size: 36px;
      color: $color--white;
    }
    &:hover div {
      img {
        opacity: 0.5;
      }
    }
  }
}
.slide-btn {
  color: $color--green;
  @extend %colCenter;
  border: none;
  background: transparent;
  padding: 1em;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
  border-radius: 50%;
  &:hover {
    opacity: 1;
    background: $color--green;
    color: $color--white;
  }
}
.prev-btn {
  left: 15rem;
}
.next-btn {
  right: 15rem;
}
.slide-btn .material-icons {
  font-size: 48px;
}
