/* 인기메뉴 */
.popular-menu {
  color: $color--black;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  @include laptop {
    margin-top: 7rem;
  }
}
.popular-menu__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 75rem;
  padding: 2rem;
  @include tablet {
    width: 100vw;
    font-size: 120%;
  }
  @include mobile {
    width: 100vw;
    font-size: 120%;
  }
  @include mobile-sm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
}
.popular-menu__title {
  color: $color--green;
  font-family: "Pretendard-Black";
  font-size: 3rem;
  letter-spacing: 0.05rem;
  @include mobile-sm {
    margin-bottom: 1em;
  }
}
.popular-menu__tabs {
  display: flex;
  .on {
    color: $color--green;
  }
  @include mobile-sm {
    align-self: flex-end;
  }
}
.popular-menu__tab {
  position: relative;
  font-weight: 600;
  &:not(:first-child) {
    margin-left: 1.5em;
    @include marker-left($color--green, -0.75, 2);
  }
}
.popular-menu__slide {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 22.813rem;
  background-color: $color--gray;
}
.popular-menu__slide-container {
  position: relative;
  width: 75em;
  height: 100%;
  overflow: hidden;
  @include mobile-sm {
    width: 100vw;
  }
}
.popular-menu__slide__items {
  width: max-content;
  @extend %colCenter;
  left: 2em;
  @include laptop {
    padding: 0 2em;
  }
  @include mobile-sm {
    padding: 0;
  }
  transition: 0.15s;

  li {
    user-select: none;
    position: relative;
    float: left;
    overflow: hidden;
    @include laptop {
      font-size: 80%;
    }
    @include tablet {
      font-size: 60%;
    }
    @include mobile {
      font-size: 50%;
    }
    @include mobile-sm {
      font-size: 40%;
    }
    &:not(:first-child) {
      margin-left: 11.5em;
    }
    div {
      @extend %centerflex;
      position: relative;
      flex-direction: column;
    }
    .popular-menu__slide__items__info {
      display: block;
      text-align: center;
      line-height: 3.5;
      font-size: 1.25rem;
      font-weight: 600;
    }
    .popular-menu__slide__items__more-btn {
      @extend %centerflex;
      @extend %center;
      transform: translate(-50%, 250%);
      width: 4.375rem;
      height: 4.375rem;

      border-radius: 50%;
      background-color: $color--green;
      border: none;
      cursor: pointer;
    }
    .material-icons {
      font-size: 36px;
      color: $color--white;
      @include tablet {
        font-size: 24px;
      }
    }
    &:hover div {
      img {
        opacity: 0.5;
      }
    }
    .popular-menu__slide__items__tooltip {
      position: absolute;
      width: 6.25rem;
      padding: 0.6rem;
      font-size: 0.8rem;
      text-align: center;
      color: $color--white;
      background: black;
      border-radius: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
      @extend %center;
      top: 25%;
      z-index: 9;
      visibility: hidden;
      @include laptop {
        top: 20%;
      }
      @include tablet {
        @include tooltip-mobile;
      }
      @include mobile {
        @include tooltip-mobile;
      }
      @include mobile-sm {
        @include tooltip-mobile;
      }

      &::after {
        content: "";
        @extend %rowCenter;
        top: 90%;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
    }
  }
}

.slide-btn {
  color: $color--green;
  @extend %colCenter;
  border: none;
  background: transparent;
  padding: 1em;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
  border-radius: 50%;
  &:hover {
    opacity: 1;
    background: $color--green;
    color: $color--white;
  }
  z-index: 99;
  @include laptop {
    background-color: $color--white;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    top: 100%;
  }
  @media screen and (max-width: 1023px) {
    display: none;
  }
}
.prev-btn {
  left: 15rem;
  @include laptop {
    left: 35%;
  }
}
.next-btn {
  right: 15rem;
  @include laptop {
    right: 35%;
  }
}
.slide-btn .material-icons {
  font-size: 48px;
}
