/* 메인슬라이드 */
.slide-container {
  position: relative;
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
  @include mobile-sm {
    width: 100%;
  }
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.slide {
  margin-left: 0;
  width: 300%;

  li {
    float: left;
    width: 1920px;
    @include mobile-sm {
      width: 100vw;
    }
    a {
      width: 100%;
      height: 30rem;
      display: block;
      @include mobile-sm {
        height: 90vh;
      }
    }
  }
  // 슬라이드 배경 링크
  .slide__01 > a {
    @include slide-background("slide_01.png");
    @include mobile-sm {
      @include mobile-slide-background("mobile_slide_01.png");
    }
  }
  .slide__02 > a {
    @include slide-background("slide_02.jpg");
    @include mobile-sm {
      @include mobile-slide-background("mobile_slide_02.png");
    }
  }
  .slide__03 > a {
    @include slide-background("slide_03.jpg");
    @include mobile-sm {
      @include mobile-slide-background("mobile_slide_03.png");
    }
  }
  img {
    @include tablet {
      width: 150vw;
    }
    @include mobile {
      width: 150vw;
    }
    // @include mobile-sm {
    //   width: 100vw;
    // }
  }
}

.slide__bullets {
  @extend %rowCenter;
  bottom: 1em;
  li {
    float: left;
    margin: 0 10px;
  }
  .bullet {
    width: 12px;
    height: 12px;
    background-color: $color--white;
    border-radius: 50%;
    color: transparent;
    z-index: 5;
    transition: 0.3s;
  }
  .active {
    width: 45px;
    border-radius: 20px;
  }
}
