/* 메인슬라이드 */
.slide-container {
  position: relative;
  width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.slide {
  margin-left: 0;
  width: 300%;
  li {
    float: left;
  }
}

.slide__bullets {
  @extend %rowCenter;
  bottom: 1em;
  li {
    float: left;
    margin: 0 10px;
  }
  .bullet {
    width: 15px;
    height: 15px;
    background-color: $color--white;
    border-radius: 50%;
    color: transparent;
    z-index: 5;
    transition: 0.3s;
  }
  .active {
    width: 45px;
    background-color: $color--purple;
    border-radius: 20px;
  }
}
